
h1{
    color: rgb(249, 90, 117);
    background-color: pink;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
    border: 1px solid rgb(249, 90, 117);
}

h2{
    color: rgb(249, 90, 117);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border: 1px solid rgb(249, 90, 117);
}


body{
    margin: 5%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    
}
/* the original text existed off the screen but was not visible until we added a 5% margin  */
/* use class . to change specific parts of elements */
